div,p,body,ul,li,a,span{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
img{
  border: 0;
}
html{
  height: 100%;
}
body{
  background: url('../images/background.png') no-repeat;
  background-size: cover;
  font-family: "微软雅黑";
  height: 100%;
  min-width: 1024px;
  cursor: default;
  position: relative;
  z-index: 0;
}
#wapper{
  position: relative;
  height: auto;
  min-height: 100%
}
.small-font{
  font-size:12px;
  -webkit-transform-origin-x: 0;
  -webkit-transform: scale(0.83);
}
.smallsize-font {
   font-size:10px;
  }

.header{
  position: relative;
  top: 20px;
  width: 1024px;
  margin: 0 auto;
  .left{
    float: left;
    width: 113px;
  }
  .right{
    float: right;
    width: 27px;
    .top{
      margin: 30px 3px 10px 0;
      img{
        position: relative;
        right: -2px;
      }
    }
  }
  .inner{
    margin: 0px 110px 0 193px;
    height: 120px;
    position: relative;
    top: 94px;
    .search{
      text-align: right;
      position: relative;
      right: 20px;
      .search-input{
        width: 236px;
        height: 22px;
        border:1px solid #D2CED5;
        padding-left: 10px;
        background: transparent;
      }
      .submit-div{
        float: right;
        position: relative;
        right: 30px;
        top: 1px;
        top:0px\9;
      }

      .search-submit{
        background: url("../images/search.png") no-repeat;
        border: 0;
        height: 24px;
        width: 29px;
        cursor: pointer;
      }
    }
    .nav{
      margin-top: 25px;
      .tab{
        li{
          float: left;
          width: 110px;
          list-style: none;
          text-align: center;
          position: relative;

          a{
            display: block;
            background-position: 18px 0;
            span.title{
              color:#F2D454;
              font-size: 12px;
              position: relative;
              top: 2px;
            }
            span.en{
              color: #999999;
              width: 110px;
              display: block;
            }
           }
          }
        }
      }
    }
  }

.footer{
  text-align: center;
  color: #336699;
  font-size: 12px;
  left: 0;
  bottom: 12px;
  width: 100%;
  position: absolute;
  .phone{
    margin: 0 10px;
  }
}
.home{
  width: 1024px;
  margin: 30px auto 0;
  position: relative;
  min-height: 600px;
  .content{
    .row1,.row2,.row3{
      height: 125px;
      ul{
        height: 100%;
        li{
          float: left;
          height:100%;
          width: 165px;
          background: rgba(85,91,111,0.38);
          margin:2px;
          text-align: center;
          border:2px solid #4E5469;
          p.up{
            margin: 30px 0 10px;
          }
        }
      }
    }
    .more{
      margin-top: 22px;
      position: relative;
      right: 42px;
      font-size: 13px;
      a{
        color: #3399cc;
      }
    }
  }
  .leftnav{
    position: absolute;
    z-index: 1;
  }
  .leftnav-logo{
    float: left;
  }
  .wrapper {
    min-height: 520px;
    left: 174px;
    position: absolute;
    overflow: hidden;
  }
  .leftnav-des{
    position: relative;
    top: 28px;
    left: -15px;
    .li0{
      margin-top: 1px;
    }
    .li1,.li2,.li4,.li5{
      margin-top: 20px;
    }
    .li3{
      margin-top: 19px;
    }
    p{
      .small-font;
      .smallsize-font;
      color: #999999;
      width: 155px;
    }
    div{
      width: 130px;
      position: relative;
      left: 15px;
      top:-1px;
      height: 22px;
      //top:0;
    }
    a{
      color: #ffcc33;
      font-size: 12px;
      position: relative;
      top: -1px;
      left: -15px;
    }

  }
  .rightnav,.right-logo{
    float: right;
  }
  .rightnav{
    .right-des{
      position: relative;
      top: 160px;
      .page{
        position: relative;
        left: 30px;
        width: 140px;
        .active{
          span{
            color: #F2D454!important;
          }
        }
      }
      li{
        line-height: 30px;
        .img1{
          position: relative;
          top: -4px;
          margin:0 4px 0 15px;
        }
        .bigyecircle{
          position: relative;
          left: -3px;
          top: 2px;
        }
        .yellowfont{
          color: #F2D454;
        }
      }
      .div2{
        width: 130px;
        position: relative;
        left: -12px;
      }
      span{
        color: #ffffff;
        font-size: 12px;
      }
    }
  }
  .bigdata{
    padding: 110px 0px 0px 20px;
    li{
      float: left;
      margin-right: 15px;
      p{
        text-align: center;
        margin-top: 20px;
        color: #ffffff;
        font-size: 14px;
      }
    }
  }
  .home-news{
    margin-left: -10px;
    position: relative;
    top:-50px;
    .more{
      position: relative;
      right: 110px;
      float: right;
      font-size: 13px;
      a{
        color: #3399cc;
      }
    }
    .newslogo{

    }
    .newscontent{
      width: 700px;
      position: relative;
      left: 2px;
      top: -3px;
      background: rgba(48,50,77,0.6);
      p{
        color: #fff;
      }
      ul{
        padding: 30px;
        li{
          line-height: 38px;
          margin-left: 20px;
          font-size: 14px;
          p{
            .span1{
              margin: 0 0 0 20px;
            }
            .span2{
                margin:0 100px 0 20px;
            }
          }
        }
      }
    }
  }
  .specialfunc{
    margin-top: 60px;
    li{
      float: left;
      margin-right: 9px;
    }
    .background{
      background: url("../images/rectangle.png") no-repeat;
      width: 167px;
      height: 179px;
      text-align: center;
      line-height: 179px;
    }
    .white-background{
      width: 150px;
      height: 109px;
      background: #fff;
      position: relative;
      top:-50px;
      left: 8px;
      .p1{
        text-align: center;
        font-size: 16px;
        padding: 30px 0 10px;
      }
      .p2{
        text-align: center;
        font-size: 12px;
      }
    }
  }
}
@media screen and (-webkit-min-device-pixel-ratio:0){
  .header .inner .nav .tab li a span.en{
    width: 120px;
    padding-left: 8px;
  }
  .home .leftnav-des div{
    height: 22px;
  }
  .home .leftnav-des{
    .li1,.li5{
      margin-top: 17px;
    }
    .li2,.li4{
      margin-top: 18px;
    }
    .li3{
      margin-top: 16px;
    }
    p{
      position: relative;
      left: 5px;
    }
  }

}

@-moz-document url-prefix(){
  .home .leftnav-des{
    .li0{
      margin-top: 0px;
    }
    .li1,.li5{
      margin-top: 19px;
    }
    .li3{
      margin-top:18px;
    }
  }
}

